.accent {
  color: var(--accent);
}

.content {
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
  display: flex;
}

.brand {
  cursor: pointer;
  text-decoration: none !important;
  padding-left: 0 !important;
}

.brand:hover {
  text-decoration: none !important;
}

.toolbar {
  max-width: var(--content-width);
  margin-inline: auto;
  width: 100%;
}

.link-side-left {
  margin-right: 0.5rem;
}

.link-side-right {
  margin-left: 1rem !important;
}

.link-side-inside {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.button {
  margin-inline: 1rem;
}

.link {
  text-decoration: none !important;
  color: initial;
}

.link:visited {
  color: initial;
}

.link:hover {
  text-decoration: underline !important;
}

.option-list {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}
